*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

nav{
    width: 90vw;
    padding: 2.8vh 5vw;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(60deg, rgb(25,0,75), rgb(55,0,55));
    box-shadow: 0 1px 15px 1vh rgba(25,0,55,0.7);
}
nav h1{
    color: white;
    font-size: 3.6vh;
}
#dark-btn{
    width: 5vh;
    height: 5vh;
}

#carousel-section{
    width: 80vw;
    height: 45vh;
    margin: auto;
    margin-top: 20vh;
    overflow: hidden;
}
#carousel{
    width: 500%;
    height: 100%;
    display: flex;
    animation: carousel-animation 30s infinite;
    animation-play-state: running;
}
.slide{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
@keyframes carousel-animation
{
    17%{margin-left: 0%;}
    20%{margin-left: -100%;}
    37%{margin-left: -100%;}
    40%{margin-left: -200%;}
    57%{margin-left: -200%;}
    60%{margin-left: -300%;}
    77%{margin-left: -300%;}
    80%{margin-left: -400%;}
    97%{margin-left: -400%;}
    100%{margin-left: 0%;}
}

.slide img{height: 50%;}
.slide h1{font-size: 3vh;}
.slide p{
    color: #333;
    font-size: 2.25vh;
}